<div class="row">
  <div class="col-xs-12">
    <h2>Username: {{ tempUser?.username }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Name: {{ tempUser?.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Email: {{ tempUser?.email }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Role: {{ tempUser?.role }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Created at: {{ tempUser?.createdat | date: 'd LLLL yyyy' }}</h3>
  </div>
</div>

<div class="row">
  <div *ngIf="!isadmin" class="col-xs-12">
    <button class="btn btn-primary" (click)="editUser()">
      Edit
    </button>
  </div>
  <hr>
  <div *ngIf="isadmin" class="col-xs-12">
    <button class="btn btn-primary" (click)="editUserRole()">
      Edit User datas as Admin
    </button>
  </div>
</div>
