<div class="row">
  <div class="col-xs-12">
    <h3>Username: {{ tempUser?.username }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Name: {{ tempUser?.name }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Email: {{ tempUser?.email }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Role: {{ tempUser?.role }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Id: {{ tempUser?.id }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Created at: {{ tempUser?.createdat }}</p>
  </div>
</div>
