<div class="row">
  <div class="col-md-5">
    <img
      [src]="tempProductDto?.image"
      alt="{{ tempProductDto?.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ tempProductDto?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" *ngIf="!tempSoldat && !ownproduct">
      <button type="button" class="btn btn-success" (click)="onSell()">Bye</button>
    </div>
    <div class="btn-group" *ngIf="((isadmin || ownproduct) && !tempSoldat)">
      <button type="button" class="btn btn-primary" (click)="onEditProduct()" >Edit</button>
    </div>
    <div class="btn-group" *ngIf="((isadmin || ownproduct) && !tempSoldat)">
      <button type="button" class="btn btn-danger" (click)="onDeleteProduct()">Delete</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      Price: {{tempProductDto?.price}} $
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Seller: {{tempUserDto?.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Details: {{tempProductDto?.details}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Status: {{tempStatus}}
    </div>
  </div>
  <div class="row" *ngIf="tempSoldat" >
    <div class="col-xs-12">
      Sold at: {{tempProductDto?.soldat | date: 'd LLLL yyyy'}}
    </div>
  </div>
  <div class="row" *ngIf="tempSoldat" >
    <div class="col-xs-12">
      Customer: {{tempCustomerDto?.username}}
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="changesuccess" class="snackbar" [ngClass]="{success: changesuccess}">
    <div>{{successmessage}}</div>
  </div>
  <div *ngIf="changeerror" class="snackbar" [ngClass]="{error: changeerror}">
    <div>Error</div>
    <div>{{errormessage}}</div>
  </div>
</div>
